@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(!this.User.Identity.IsAuthenticated)
    {
        <p> Please, <a asp-area="Identity" asp-page="/Account/Login">log in</a> to start working. </p>
    }
    else 
    {
        <p>CONTENT</p>    
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }
</div>
