@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(!this.User.Identity.IsAuthenticated)
    {
        <p> Please, <a asp-area="Identity" asp-page="/Account/Login">log in</a> to start working. </p>
    }
    else 
    {
        if(this.User.IsInRole("Banned"))
        {
            <h2 class="text-danger"> 
                You account is banned. Contact jineosupport@gmail.com for mor info.
            </h2>
        }
        else
        {

            <h1 class="display-4">Welcome!</h1>
     
        }
    }
</div>
