<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jineo - Welcome!</title>
</head>
<body>
    @if(this.User.Identity.IsAuthenticated)
    {
        Url.Action("Index","Home");
    }
    Please, <a asp-area="Identity" asp-page="/Account/Login">log in</a> to start working.
</body>
</html>