
@using Jineo.ViewModels
@model PartialModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="btn btn-primary" style="width: 100%;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add new issue
    </a>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
        <label for="">Sensors</label>
        <div id="issue-sensors">
        </div>
        <label for="">Title</label>
        <input class="form-control" id="issuetitle" type="text" placeholder="Write title here">
        <label for="">Details</label>
        <textarea id="issuedetails" name="" id="" cols="30" rows="10" class="form-control" placeholder="Write detailed description here"></textarea>
        
        <a onclick="addIssue()" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
        </div>
    </div>
    <div class="accordion" id="accordionExample">
        
    </div>
</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    var issueSensors = []
    var projectId
    function addComment(issueId) {
            var _content = document.getElementById(issueId + '-input').value
            $.ajax(
            {
            type: "GET",
            data: {
                id: issueId,
                content: _content
            },
            url: '/addcomment',
            success: function (response) {
                updateComments(issueId)
            }
            }
            )
        }

    function addIssue() {
        var _title = document.getElementById('issuetitle').value
        var _content = document.getElementById('issuedetails').value
        $.ajax(
        {
        type: 'POST',
        data: {
            content: _content,
            projectid: projectId,
            title: _title
        },
        url: '/addissue',
        success: function (response) {
            loadIssues(projectId)
        }
        }
        )
    }

    function updateComments(id) {
        $.ajax(
        {
        type: 'GET',
        data: {
            id: id
        },
        url: '/getcomments',
        success: function (response) {
            r = ''
            for(var k = 0; k < response.comments.length; k++)
            {
                r += '<article class="comment">'
                r += '<a class="comment-img" href="#non">'
                r += '<img src="https://image.shutterstock.com/image-photo/portrait-smiling-red-haired-millennial-260nw-1194497251.jpg" alt="" width="50" height="50">'
                r += '</a>'
                r += '<div class="comment-body">'
                r += '<div class="text">'
                r += '<p>' + response.comments[k].text + '</p>'
                r += '</div>'
                r += '<p class="attribution">by <a href="#non">Besnik Hetemi</a> at 14:23pm, 4 Dec 2015</p>'
                r += '</div>'
                r += '</article>'
            }
            document.getElementById('issue-' + id).innerHTML = r
        }
        }
        )
    }

    function loadIssues(_id) {
        $.ajax(
            {
            type: "GET",
            data: {
                id: _id
            },
            url: '/issues',
            success: function (response) {
                projectId = _id
                r = ""
                for(var i = 0; i < response.issues.length; i++) {   
                    r += '<div class="card">'
                    r += '<div class="card-header" id="headingOne">'
                    r += '<h2 class="mb-0">'
                    r += '<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse' + i +'" aria-expanded="true" aria-controls="collapse' + i +'">'
                    r += response.issues[i].content
                    r += '</button>'
                    r += '</h2>'
                    r += '</div>'
                    r += '<div id="collapse' + i +'" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">'
                    r += '<div class="card-body">'
                    r += ''
                    r += '<div class="comments">'
                    r += '<div id="issue-' + response.issues[i].id + '">'
                    for(var k = 0; k < response.issues[i].comments.length; k++)
                    {
                        r += '<article class="comment">'
                        r += '<a class="comment-img" href="#non">'
                        r += '<img src="https://image.shutterstock.com/image-photo/portrait-smiling-red-haired-millennial-260nw-1194497251.jpg" alt="" width="50" height="50">'
                        r += '</a>'
                        r += '<div class="comment-body">'
                        r += '<div class="text">'
                        r += '<p>' + response.issues[i].comments[k].text + '</p>'
                        r += '</div>'
                        r += '<p class="attribution">by <a href="#non">Besnik Hetemi</a> at 14:23pm, 4 Dec 2015</p>'
                        r += '</div>'
                        r += '</article>'
                    }
                    r += '</div>'
                    r += '<input class="form-control" id="' +  response.issues[i].id + '-input"></input>'
                    r += '<button class="btn btn-primary" onclick="addComment(' + response.issues[i].id +  ') "></button>'
                    r += '</div>'
                    r += '</div>'
                    r += '</div>'
                    r += '</div>'
                    console.log(response.issues[i].comments)
                }
                $('#accordionExample').html(r)
            
            }
            
        })
    } 
        
    function deleteSensorFromIssue(id) {
        for(var i = 0; i < issueSensors.length; i++) {
            if(issueSensors[i].id == id){
                issueSensors.splice(i, 1)
            }
        }
        updateIssueSensors()
    }
    function addSensorToIssue(sensor) {
        var id = sensor.id
        var name = sensor.name
        var isPresent = false
        issueSensors.forEach(s => {
            if(s.id == sensor.id){
                isPresent = true
            }
        });
        if(!isPresent){
            issueSensors.push( { id: id, name: name })
            updateIssueSensors()
        }
    }

    function updateIssueSensors() {
        r = ''
        issueSensors.forEach(s => {
            r += '<div class="container-flex">' 
            r += '<div class="issue-sensor" onclick="selectSensor(' + s.id + ')">' + s.name + '</div>'
            r += '<div class="" onclick="deleteSensorFromIssue(' + s.id + ')">X</div>'
            r += '</div>'
        });
        document.getElementById('issue-sensors').innerHTML = r
    }
</script>

</html>