
@using Jineo.ViewModels
@model PartialModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="accordion" id="accordionExample">
        <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                [CLOSED] Troubles with pipes
            </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                
                <div class="comments">
                    <div class="comment">
                    <a class="comment-img" href="#non">
                        <img src="https://www.evolutionsociety.org/userdata/news_picupload/pic_sid189-0-norm.jpg" alt="" width="50" height="50">
                    </a>
                    <div class="comment-body">
                        <div class="text">
                        <p>Hello, this is an example from me</p>
                        </div>
                        <p class="attribution">by <a href="#non">Besnik Hetemi</a> at 14:23pm, 4 Dec 2015</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>