@using Jineo.ViewModels
@model PartialModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="" id="projectslist">

    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script>
    function loadProjects(){
        $.ajax(
            {
            type: "GET",
            data: {

            },
            url: '/projects',
            success: function (response) {
                r = ""
                for(var x = 0; x < response.projects.length; x++)
                {
                    console.log(response.projects.length)
                    r += '<div class="projects-list-line" onclick="getUsersList(' + response.projects[x].id + '); loadProjectInfo(' + response.projects[x].id + ')">'
                    r += '<div class="projects-list-indicator"></div>'
                    r += '<div class="project-list-element">'
                    r += response.projects[x].name
                    r += '</div>'
                    r += '<div class="divider-vertical"></div>'
                    r += '<div class="project-list-element">'
                    r += '10.04.20'
                    r += '</div>'
                    r += '<div class="project-list-element">'
                    r += '<a href="/projects/' + response.projects[x].id + '" >Deiailed</a>'
                    r += '</div>'
                    r += '</div>'
                }
                $('#projectslist').html(r)
            }
        })
    }

        
    
</script>
</html>