<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row justify-content-sm-center">
        <div class="col-3 m-3 item-store">
            <div class="p-3 text-center">
                <div>
                    <div class="item-image" style="background-image: url(https://st3.depositphotos.com/9684382/15068/v/1600/depositphotos_150681678-stock-illustration-bronze-trophy-cup-vector.jpg);"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <label class="text-muted" for="">Low value</label>
                    <div class="">
                        <i class="glyphicon glyphicon-star text-muted" aria-hidden="true"></i>
                        <i class="glyphicon glyphicon-star-empty text-muted" aria-hidden="true"></i>
                        <i class="glyphicon glyphicon-star-empty text-muted" aria-hidden="true"></i>
                    </div>
                </div>
                <h4>Basic Subscription</h4>
                <div>
                    <p>No previligies</p>
                </div>
                <hr>
                @if(ViewBag.SubId != 0)
                {
                    <form asp-action="ChangeSub">
                        <input hidden type="text" name="subId" value="0">
                        <button class="btn btn-outline-primary" type="submit">Switch</button>
                    </form>
                }
                else
                {
                    <p>
                        This is your subscription
                    </p>
                }
            </div>
            
        </div>
        <div class="col-3 m-3 item-store">
            <div class="p-3 text-center">
                <div>
                    <div class="item-image" style="background-image: url(https://previews.123rf.com/images/artinspiring/artinspiring1606/artinspiring160600112/58099289-isolated-silver-cup-on-white-background-concept-of-prize-leadership-winning-and-success-winner-award.jpg);"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <label class="text-muted" for="">Medium value</label>
                    <div class="">
                        <i class="glyphicon glyphicon-star text-muted" aria-hidden="true"></i>
                        <i class="glyphicon glyphicon-star text-muted" aria-hidden="true"></i> 
                        <i class="glyphicon glyphicon-star-empty text-muted" aria-hidden="true"></i>
                    </div>
                </div>
                <h4>Silver Subscription</h4>
                <div>
                    <p>5 projects</p>
                </div>
                <hr>
                @if(ViewBag.SubId != 1)
                {
                    <form asp-action="ChangeSub">
                        <input hidden type="text" name="subId" value="1">
                        <button class="btn btn-outline-primary" type="submit">Switch</button>
                    </form>
                }
                else
                {
                    <p>
                        This is your subscription
                    </p>
                }

            </div>
            
        </div>
        <div class="col-3 m-3 item-store">
            <div class="p-3 text-center">
                <div>
                    <div class="item-image" style="background-image: url(https://png.pngtree.com/element_our/png/20181214/trophy-cup-graphic-design-template-vector-illustration-png_269508.jpg);"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <label class="text-warning" for="">Highest value</label>
                    <div class="">
                        <i class="glyphicon glyphicon-star text-muted text-warning" aria-hidden="true"></i>
                        <i class="glyphicon glyphicon-star text-muted text-warning" aria-hidden="true"></i>
                        <i class="glyphicon glyphicon-star text-muted text-warning" aria-hidden="true"></i>
                    </div>
                </div>
                <h4 class="text-warning">Golden Subscription</h4>
                <div>
                    <p>7 projects</p>
                </div>
                <hr>
                @if(ViewBag.SubId != 2)
                {
                    <form asp-action="ChangeSub">
                        <input hidden type="text" name="subId" value="2">
                        <button class="btn btn-outline-primary" type="submit">Switch</button>
                    </form>
                }
                else
                {
                    <p>
                        This is your subscription
                    </p>
                }
            </div>
            
        </div>
    </div>
</body>
</html>